<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<ul class="footer__list">
				<li class="footer__item">
					<a href="#">Политика конфиденциальности</a>
				</li>
				<li class="footer__item">
					<a href="#">Пользовательское соглашение</a>
				</li>
				<li class="footer__item">
					<a href="#">правила акции</a>
				</li>
			</ul>
			<div class="footer__date">Срок действия акции с 06.06.2019 до 03.07.2019</div>
		</div>
		<div class="footer__text">Общий срок проведения акции 01.07.2019 – 06.09.2019. Период регистрации чеков 01.07.2019 – 11.08.2019.  Акция действует при покупке одной бутылки напитка Fuze Tea объемом 0,5л или 1л в ассортименте, имеющимся в наличии в точке продаж. Информацию об организаторе Акции, условиях участия, правилах проведения, призах, их количестве, сроках, месте и порядке их получения можно узнать на сайте <a target="_blank" href="http://fuze.cocacola-promo.ru">www.fuze.cocacola-promo.ru</a>  или по телефону горячей линии +7 (951) 687-55-00 (стоимость звонка согласно тарифам оператора сотовой связи). Организатор Акции - ООО «Эффект». Количество товара и призов ограничено. Внешний вид призов и упаковок может отличаться от их изображения в рекламных материалах. Fuze Tea является зарегистрированным товарным знаком DP Beverages. © 2019 DP Beverages.</div>
	</div>
</footer>