// Main--------------------
.main {
	flex: 1 0 auto;

	&__top {
		margin-top: -280px;
	}

	&__inner-top-bg {
		background: url("../img/beach-bg.png") no-repeat center center;
		background-size: cover;
		height: 130vh;
		min-height: 1120px;

		.container {
			height: 100%;
		}
	}

	&__inner-top {
		text-transform: uppercase;
		height: 0;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: 35px;
		text-align: center;
	}

	&__logo {
		opacity: 0;

		img {
			max-height: 6.6em;
		}
	}

	&__title {
		margin-top: -150px;
	}

	&__subtitle {
		color: $mainColor;
		font-size: 1em;
		line-height: 1em;
		font-weight: 400;
		text-shadow: 0 0 .74em rgba(76, 45, 124, .52);
	}

	&__date {
		text-align: center;
		margin-top: .8em;
		font-size: .5em;
		text-transform: uppercase;
		color: $textColor05;
	}

	&__arrow {
		text-align: center;
	}

	&__arrow-inner {
		margin-top: .42em;
		display: inline-block;
		position: relative;
		width: 2.6em;
		height: 1.4em;

		&:before {
			content: "";
			position: absolute;
			top: -.4em;
			left: 50%;
			transform: translateX(-50%) rotate(-135deg);
			border: {
				top: .2em solid #fff;
				left: .2em solid #fff;
			}
			width: 1.4em;
			height: 1.4em;
		}
	}

	&__prize-info {
		padding: 50px 0 65px;
		overflow: hidden;
	}

	&__inner-prize-info {
		display: flex;
		justify-content: center;
		align-items: center;
		counter-reset: num;
		font-size: 25px;
	}

	&__col-prize-info {
		max-width: 12em;
		width: 100%;
		position: relative;
		z-index: 2;

		&--img {
			max-width: 10em;
			margin: 0 1em;
			z-index: 1;

			&:before {
				content: "";
				position: absolute;
				bottom: -3em;
				left: -10em;
				z-index: -1;
				width: 34em;
				height: 34em;
				background: url("../img/shadow_bottle.png") no-repeat center center;
				background-size: contain;
			}
			
			img {
				max-height: 32em;
			}
		}
	}

	&__item-prize-info {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		padding-top: 8em;
		position: relative;

		&:before {
			counter-increment: num;
			content: counter(num);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			color: $textColor03;
			font-size: 7.5em;
			line-height: 1em;
		}

		&:nth-child(even) {
			margin-top: 1.2em;
		}

		.btn-wrap {
			margin-top: .6em;
		}
	}

	&__text-prize-info {

		p {
			font-size: 1em;
			
			a {
				color: $textColor03;
			}
		}
	}

	&__prizes-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__prizes-item {
		text-align: left;
		display: flex;
		align-items: center;
		margin-top: 1.2em;
	}

	&__prize-img {
		flex-shrink: 0;

		&--first {

			img {
				max-height: 4em;
			}
		}

		&--second {

			img {
				max-height: 6em;
			}
		}

		&--third {

			img {
				max-height: 3em;
			}
		}
	}

	&__name-prizes-item {
		font-size: .7em;
		color: $textColor03;
		margin-left: .8em;
		flex: 0 1 150px;

		p {
			font-size: 1.5em;
		}
	}

	&__winners {
		margin-top: 30px;
	}

	&__inner-winners {
		margin-top: 20px;
	}

	&__search {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__table-winners {
		margin: 2.2em auto 0;
		font-size: 18px;
		height: 14em;
		max-width: 550px;
		width: 100%;
	}

	&__inner-table-winners {
		width: 100%;
		border-collapse: collapse;

		th {
			text-align: left;
			font-size: 1.3em;
			color: $textColor03;
		}

		td {
			font-size: 1em;
			padding-top: 1.2em;
		}
	}
}

// Feedback--------------
.feedback {
	padding-top: 50px;

	&__form {
		max-width: 500px;
		width: 100%;
		margin: 50px auto 0;

		.input-wrap {
			margin-bottom: 20px;
		}

		input,
		textarea {
			max-width: none;
			width: 100%;
		}

		textarea {
			min-height: 215px;
		}
	}
}

// Profile-----------------
.profile-page {
	padding-top: 30px;
	color: $textColor02;

	&__personal-info {
		position: relative;
		padding-left: 45px;
		font-size: 13px;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url("../img/Profile2.png") no-repeat center center;
			background-size: contain;
			width: 30px;
			height: 30px;
		}
	}

	&__personal-info-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__inner {
		margin-top: 40px;
		position: relative;
	}

	&__table-checks,
	&__table-prizes {
		height: 300px;
		font-size: 20px;
		margin-left: 2.5em;
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
		color: #ababab;

		td {
			padding-top: 1.1em;

			&:nth-child(n+2) {
				padding-left: .5em;
			}
		}
	}

	&__th {
		text-align: left;
		color: $textColor02;
		padding-bottom: .5em;
		border-bottom: 1px solid #ababab; 

		&:nth-child(n+2) {
			padding-left: .5em;
		}

		&--mobile {
			display: none;
		}
	}

	&__status-prize-inner {

		&:before {
			font-size: 1em;
			margin-bottom: .2em;
		}
	}

	&__status-wait,
	&__status-ok {
		word-break: break-all;
	}

	&__status-ok {
		color: $textColor04;
	}

	&__photo {

		img {
			max-height: 2em;
		}
	}

	&__status-error {
		display: inline-block;
		position: relative;
		padding-right: 1.7em;

		a {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			border-radius: 50%;
			border: 1px solid $errorColor;
			color: $errorColor;
			width: 1.2em;
			height: 1.2em;
			text-align: center;
		}
	}
}

.profile-tables {
	padding-left: 130px;
}

.profile-table {
	display: none;

	&.active {
		display: block;
	}
}

.tabs {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	color: $mainColor;

	li {
		text-align: center;
		padding: .6em;
		max-width: 150px;
		width: 100%;
		background-color: #ababab;
		white-space: nowrap;
		cursor: pointer;

		&.active {
			background-color: #0e5e00;
		}

		&:nth-child(n+2) {
			margin-top: 1.5em;
		}
	}
}