body {
	font-family: $roboto;
	font-size: 16px;
	color: $mainColor;
	height: 100%;
}

html {
	height: 100%;
}

.height-helper {
	display: flex;
	flex-direction: column;
	height: 100%;

	&--main {
		background: url("../img/main-background.png") no-repeat center center;
		background-size: cover;
		height: auto;
	}
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1295px;
	margin: 0 auto;
	
	&--min {
		max-width: 880px;
	}

	&--profile {
		max-width: 950px;
	}
}