.header {
	padding: 30px 0 15px;
	background-color: #fff;
	color: $textColor02;
	text-transform: uppercase;

	&--main {
		position: relative;
		z-index: 5;
		color: $textColor05;
		
		.burger-menu {
		
			span {
				background-color: #fff;
		
				&:before,
				&:after {
					background-color: #fff;
				}
			}
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		display: none;

		a {
			text-decoration: underline;
			font-size: 14px;
		}
	}
}

.shop-logo {

	&__inner {
		display: inline-block;
	}

	img {
		max-height: 45px;
	}
}

.main-logo {
	flex-grow: 1;
	margin: 0 40px;

	&__inner {
		display: inline-block;
	}

	img {
		max-height: 35px;
	}
}

.nav {

	&__item {
		font-size: 18px;

		&:nth-child(n+2) {
			margin-left: 30px;
		}
	}
}

.profile {
	margin-left: 20px;

	&.active {

		.profile__logged-in {
			display: block;
		}

		.profile__login {
			display: none;
		}
	}

	img {
		max-height: 50px;
	}

	&__logged-in {
		display: none;
		text-align: center;
	}

	&__mobile {
		display: none;
	}

	&__text--logout {
		text-decoration: underline;
	}

	&__text:not(.profile__text--logout) {
		display: none;
	}

	.btn--profile:not(.profile__mobile) {
		display: block;
	}
}

%burger {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #1ba548;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}	

.burger-menu {
	width: 20px;
	height: 40px;
	display: none;
	position: relative;
	z-index: 6;

	span {
		@extend %burger;
		top: 50%;
		transform: translate(-50%, -50%);

		&:before,
		&:after {
			content: "";
			@extend %burger;
			transform: translateX(-50%) translateY(-14px);
		}

		&:after {
			transform: translateX(-50%) translateY(14px);
		}
	}
}