// MAX-WIDTH --------------------
@media (max-width: 1199px) {
	// Header-----------------------
	.main-logo {
		margin: 0 15px;		
	}

	.nav {

		&__item {

			&:nth-child(n+2) {
				margin-left: 15px;
			}
		}
	}

	.profile {
		margin-left: 10px;
	}
}

@media (max-width: 991px) {
	// Header-----------------------
	@keyframes opacity {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.header {
		padding: 15px 0;

		&--main {
			background-color: rgba(0, 0, 0, 0);
			color: $textColor02;

			.header__inner {
				justify-content: flex-end;
			}

			.shop-logo,
			.main-logo {
				display: none;
			}

			.header__menu.active {

				& + .burger-menu {

					span {
						background-color: #1ba548;
				
						&:before,
						&:after {
							background-color: #1ba548;
						}
					}
				}
			}
		}

		&__menu {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 5;
			height: 100%;
			background-color: #fff;
			padding: 80px 0 20px;
			transform: translateY(-110%);
			opacity: 0;
			animation: opacity .5s;
			transition: transform .4s ease, opacity .3s ease;

			&.active {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&__menu-inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 0;
			min-height: 100%;
			padding: 0 30px 0;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		&__menu-top {
			display: block;
		}
		
		&__info {
			margin-top: 20px;
			display: block;
			text-align: center;
		}

		&__info-item {
			margin-top: 5px;
		}
	}

	.main-logo {
		margin: 0 20px;
	}

	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__item {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}

	.profile {
		margin-left: 0;
		margin-top: 20px;

		&__text:not(.profile__text--logout) {
			display: block;
		}

		&__text--logout {
			text-decoration: none;
		}

		img {
			display: none;
		}

		.btn--profile {
			display: block;
		}
	}

	.burger-menu {
		display: block;
	}

	// Main--------------------
	.main {

		&__top {
			margin-top: -80px;
		}

		&__inner-top-bg {
			height: 90vh;
			min-height: 800px;
		}

		&__inner-top {
			font-size: 32px;
			padding: 25px 0;
		}

		&__logo {
			opacity: 1;
		}

		&__title {
			margin-top: .5em;
			flex-grow: 1;
		}

		&__prize-info {
			padding: 40px 0;
		}
	
		&__inner-prize-info {
			font-size: 20px;
		}
	}
}

@media (max-width: 767px) {
	// Main--------------------
	.main {

		&__top {
			margin-top: -80px;
		}

		&__inner-top-bg {
			height: 85vh;
    		min-height: 700px;
		}

		&__inner-top {
			font-size: 28px;
		}

		&__date {
			margin-top: 1em;
		}

		&__prize-info {
			padding: 30px 0;
		}

		&__inner-prize-info {
			font-size: 18px;
		}

		&__inner-prize-info {
			flex-wrap: wrap;
		}

		&__col-prize-info {

			&:last-child {
				max-width: none;
				margin-top: 2em;

				.main__item-prize-info {
					padding-top: 0;

					&:before {
						display: none;
					}

					.title--info {
						font-size: 2em;
						color: $mainColor;
					}
				}
			}
		}

		&__prizes-list {
			flex-direction: row;
			justify-content: center;
			margin-top: 1em;
		}

		&__prizes-item {
			margin-top: 0;
			display: block;

			&:nth-child(n+2) {
				margin-left: 1em;
			}
		}

		&__prize-img {
			text-align: center;

			&--first {

				img {
					max-height: 6em;
				}
			}
	
			&--second {
	
				img {
					max-height: 7em;
				}
			}
	
			&--third {
	
				img {
					max-height: 5em;
				}
			}
		}

		&__name-prizes-item {
			text-align: center;
			flex: auto;
			margin-left: 0;
			margin-top: .7em;
			max-width: 13.5em;
			width: 100%;
		}
	}

	// Profile-----------------
	.profile-page {

		&__table-checks,
		&__table-prizes {
			margin-left: 1.5em;
			font-size: 18px;
			height: 500px;
		}

		&__table {

			td {
				padding-top: 1.5em;
				vertical-align: top;
			}
		}

		&__th {

			&--mobile {
				display: table-cell;
			}

			&--desktop {
				display: none;
			}
		}

		&__prize,
		&__photo {
			display: none;
		}

		&__status-prize-inner {
		
			&:before {
				content: attr(data-prize);
				display: block;
			}
		}

		&__table-prizes {

			.profile-page__status-wait,
			.profile-page__status-ok {
				font-size: .8em;
			}
		}
	}

	// Forms--------------------
	.inputs-wrap {
		display: block;

		&:nth-child(n+2) {
			margin-top: 20px;
		}

		&--flex-start {
	
			.inputs-wrap__row {
				
				&:nth-child(n+2) {
					margin-left: 0;
				}
			}
		}

		&__row {

			&:nth-child(n+2) {
				margin-top: 20px;
			}

			&--big {
				width: 100%;
				max-width: 560px;
			}

			&--middle {
				width: 100%;
				max-width: 360px;
			}

			&--small {
				width: 100%;
				max-width: 160px;
			}

			&--flex {
				justify-content: center;
				margin: 30px auto 0;
			}
		}
		
		&__inner {

			&--sm {
				display: block;

				.inputs-wrap__row {

					&:nth-child(n+2) {
						margin-left: 0;
					}

					&--big {
						width: 100%;
						max-width: 560px;
					}

					&--middle {
						width: 100%;
					}
				}
			}

			&--w50 {
				max-width: 560px;
				width: 100%;
				flex-wrap: nowrap;

				.inputs-wrap__row--small {
					max-width: none;
					width: 37%;
					margin-left: 15px;
					margin-top: 0;
				}
			}
		}

		.btn-wrap {
			margin-top: 40px;
			text-align: center;
		}
	}

	.input-wrap {

		&__file {
			max-width: 130px;
		}
	}

}

@media (max-width: 479px) {
	// Header-----------------------
	.header {
		padding: 10px 0;

		&__menu {
			padding: 60px 0 20px;
		}
	}

	.shop-logo {

		img {
			max-height: 30px;
		}
	}

	.main-logo {
		margin: 0 20px;
		
		img {
			max-height: 20px;
		}
	}

	// Main--------------------
	.main {

		&__top {
			margin-top: -60px;
		}

		&__inner-top-bg {
			height: 60vh;
			min-height: 500px;
		}

		&__inner-top {
			font-size: 20px;
		}

		&__inner-prize-info {
			font-size: 20px;
		}

		&__col-prize-info {

			&:last-child {

				.main__item-prize-info {

					.title--info {
						font-size: 1.5em;
					}
				}
			}
			
			&--img {
				display: none;
			}
		}

		&__prizes-list {
			flex-direction: column;
			margin-top: 2em;
		}

		&__prizes-item {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 2em;
			}
		}

		&__table-winners {
			font-size: 13px;
		}
	}

	// Profile-----------------
	.profile-page {

		&__personal-info-inner {
			display: block;
		}

		&__table-checks,
		&__table-prizes {
			margin-left: 0;
			font-size: 16px;
			height: 400px;
			padding-right: .8em;
		}
	}

	.profile-tables {
		padding-left: 0;
		margin-top: 1.5em;
	}

	.tabs {
		position: static;
		display: flex;
		justify-content: center;
		align-items: center;

		li {

			&:nth-child(n+2) {
				margin-top: 0;
				margin-left: 1em;
			}
		}
	}

	// Forms--------------------
	.inputs-wrap {

		&__row {

			&--flex {
				display: block;
			}
		}

		&__inner {

			&--w50 {
				flex-wrap: wrap;

				.inputs-wrap__row--small {
					max-width: 160px;
					width: 100%;
					margin-left: 0;
					margin-top: 20px;
				}

				.inputs-wrap__row--middle {
					width: 100%;
				}
			}
		}
	}

	.input-wrap {

		&__file {
			margin: 0 auto;

			&:nth-child(n+2) {
				margin-left: 0;
				margin: 15px auto 0;
			}
		}
	}
}