body {
    font-family: 'GothamPro', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: #000;
}

.dropzone {
    background: grey !important;
    border: none !important;
    border-radius: 0;
}

.dropzone .dz-message {
    color: #fff;
}

.uf-container {
    width: 300px;
}

.uf-container-title {
    text-align: center;
}

.dropzone .dz-preview .dz-image {
    width: 200px;
    margin: auto;
    height: 250px;
}

.uf-button-wrapper {
    text-align: center;
}

.uf-button-submit {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ef2f3e;
    color: #ffffff;
    border-radius: 30px;
    margin: auto;
    display: block;
    min-width: 150px;
}

.container--custom {
    padding: 0;
    max-width: 350px;
    width: 100%;
}

.title {
    font-size: 34px;
    color: #fff;
    margin: 0;
}

.container-tutorial {
    color: #fff;
    font-size: 14px;

}

p {
    margin: 0;
}

.container-tutorial__text {
    margin-bottom: 20px;
    color: #ababab;

    p:nth-child(n+2) {
        margin-top: 10px;
    }
}

.tutorial-link {
    color: #ffed00;
    font-size: 14px;
    text-decoration: underline;
}

.tutorial-link:hover,
.tutorial-link:focus {
    color: #ffed00;
    text-decoration: none;
}

.tutorial-photo--custom {
    margin-top: 10px;
}

.img-thumbnail--custom {
    max-height: 400px;
}

.dropzone--custom {
    margin-top: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.button-wrapper--custom {
    margin-top: 20px;
}

.dz-remove {
    color: #fff;
}

.dz-remove:hover {
    color: #fff;
}

.dropzone .dz-preview.dz-image-preview {
    background: grey;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.button-submit--custom {
    font-size: 15px;
    border-radius: .5em;
    padding: .3em .6em;
    display: inline-block;
    text-align: center;
    border: 0 none;
    text-transform: uppercase;
    background-color: #007b3e;
    color: #ffffff;
    height: auto;
    margin: auto;
    min-width: 150px;
    outline: none;

    &:hover {
        background-color: #007b3e;
    }
}